/* CSS declarations go here */
/* body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
*/

/* body {
  font-family: 'Sofia';
} */


.logo-name{
  font-size: x-large;
}

.not-loggin{
  margin-bottom: -30px;
}

.nav-custom{
  margin-bottom: -90px;
  align-content: center;
}

.username{
  color: black;
}


/* .nav-link{
  color: green;
} */

/* .nav-item{  */
  /* padding-top: 4%; */
  /* padding-bottom: 4%; */
  /* border: rgb(68, 100, 68) 2px solid; */
/* } */

.have-to-login{
  text-align: center;
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  /* padding-right: 30%; */
  /* border: #65c0ba 1px solid; */
}

.contact{
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #65c0ba17;
  /* background-color: violet; */
  /* border: tomato 2px solid; */
  /* background-image: url('/images/round.png'); */
  border: #65c0ba 2px solid;
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
}

.fields-left{
  float: left;
  padding-left: 10%;
  color: rgb(1, 70, 1);
  /* border: #265D0C 2px solid; */
  /* text-decoration: rgb(184, 184, 184); */
}

.title{
  color: rgb(1, 70, 1);
}

.about{
  background-image: url('/images/hero_2.jpg');
  border: #16d3c6 2px solid;
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  /* background-color: tomato; */
}

.about2{
  background-image: url('/images/hero_1.jpg');
  border: #16d3c6 2px solid;
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
}

.trip-name{
  text-shadow: green 1px 1px;
}

.trip-company-rate{
  text-shadow: rgb(184, 184, 184) 2px 2px;
}

.translate{
  /* border: lightcoral 2px solid; */
  position: relative;
  animation-name: example;
  animation-duration: 2s; 
}

@keyframes example {
  0%   {top:0px;}
  100% { top:40px;}
}

.slidecontainer {
  width: 200px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  appearance: none;
  width: 20px;
  height: 20px;
  border: green solid 2px;
  background: url('/public/images/button.jpg');
  cursor: pointer;
}



.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border:  green solid 2px;
  border-radius: 50%;
  background:url('/public/images/button.jpg');
  cursor: pointer;
} 

.search-fields{
  float: left;
  padding: 2%;
}

/* .search-form-div{ */
  /* border: solid green 2px; */
/* } */

.search-form{
  /* border: hotpink 2px solid; */
  padding-left: 10%;
}



#logo{
  width: 80px;
  height: 80px;
  float: left;
}

.sign-button {
  background: none!important;
  border: none;
  /* padding: 0!important; */
  /*optional*/
  /* font-family: arial, sans-serif; */
  /*input has OS specific font-family*/
  /* color: #069; */
  /* text-decoration: underline; */
  cursor: pointer;
}
/* .sign-button{
  border-radius: 12px;
  background-color: #e7e7e7; color: black;
  font-size: 16px;
} */

/*
.home{
  width: 80%;
  padding-right: 5%;
}
*/


.name{
  width: 80%;
  float: left;
  padding-top: 3%;
  padding-bottom: 3%;
}

.seats-sold{
  float: right;
  padding-right: 5px;
}

.error{
  color: red;
}

.shadow{
  box-shadow: 0 3px 20px -5px rgba(101, 250, 242, 0.5);

}


.dp{
  border-radius: 50%;
  object-fit: cover;
  width:50px;
  height:50px;
  /* border: #65c0ba 1px solid; */
  box-shadow: 0 3px 20px -5px rgba(101, 250, 242, 0.5);
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: #65c0ba 1px solid;
  position: relative;
}

.add-review{
  clear: both;
}

/* .reviewer-dp{
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
} */
#star{
  height: 20px;
  width: 20px;
}
.review-box{
  align-content: center;
  /* -align: center; */
  padding: 10px;
  width: 100%;
  /* border:black solid 2px; */
}

/* .form-field{
  padding-top: 2px;
  width:  40%;
} */

.form-instruction{
  color: #999999;
  width: 40%;
}

.reviews{
  float: left;
  margin: 2px;
  /* float: top; */
  width: 250px;

  /* border:black solid 2px; */
  /* background-color: black; */
}

.review-remarks{
  width: 200px;
  text-align: center;
}

.trips{
  text-align: left;
  width: 90%; 
  /* clear: both; */
}

.trip-box{
  clear: both;
  padding: 15px;
  /* border: lavenderblush 1px solid; */
}

/* .table{
  border: indigo 2px solid;
  width: 100%;
} */

.trip-booking{
  padding: 50px;
  clear: left;
}

/* .slider{
  border: indigo solid 3px;
  float: left;
} */

.ending{
  clear: both;
}

.clear-end{
  clear: both;
  width: 100%;
  height: 20px;
  /* border: indigo solid 3px; */
}

/* .route-render{
  clear: both;
  padding-top: 20px;;
} */

/* .trip-destination{
  width: 50%;
} */

.trip-basic-info{
  float: left;
  width: 49%;
  /* background-color: greenyellow; */
}

.trip-img{
  width: 49%;
  float: right;
  border: rgb(181, 181, 181) solid 2px;
}

.trip-bookings{
  padding-top: 20px;
}

.trip-detail{
  padding: 5px;
  clear: both;
  /* clear: right; */
  /* background-color: gray; */
}

.mytable{
  width: 90%;
  border: #65c0ba 2px solid;
  -webkit-box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
}

.booking{
  width: 100%;
}

.accept{
  float: right;
}

.form-left{
  float: left;
  width: 65%;
  padding-left: 3%;
  /* background-color: greenyellow; */
}

.accept-other{
  padding-right: 3%;
  padding-bottom: 3%;
}

.bookings-right{
  padding: 10px;
  width: 35%;
  float: right;
  /* border: rgb(181, 181, 181) solid 2px; */
}

.bookings-accepted{
  padding-right: 5%;
  padding-left: 0.5%;
  width: 40%;
  float: right;
}

.bookings-special{
  padding-left: 5%;
  padding-right: 0.5%;
  width: 60%;
  float: left;
}

.bookings-others{
  float: left;
  padding: 2%;
  width: 30%;
  height: 400px;
}

.all-other-requests{
  padding-left: 7%;
}

@media only screen and (max-width: 1000px) {

.bookings-others{
  float: left;
  padding: 2%;
  width: 50%;
  height: 450px;
}

.all-other-requests{
  padding-left: 0;
}

}


.mytable.other-table{
  width: 100%;
  height: 100%;
  border: #65c0ba 2px solid;
  -webkit-box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  background: rgba(236, 235, 235, 0.753);  /* width: 400px;
  height: 500px; */
}

/* 
.table{
  width:70%;
} */

/* .acceptedRequest{
  border: #eee solid 1px;
  padding: 2%;
} */

@media only screen and (max-width: 600px) {
  .trip-img{
    width: 100%
  }
  
  .seat-input{
    width: 50%;
    margin-right: 10px;
  }

  .trip-booking{
    padding: 10px;
    clear: left;
  }

  .nav-item-mobile{
    font-size: x-small;
  }

  .logo-name{
    font-size: small;
  }

  .not-loggin{
    margin-bottom: -30px;
  }
  
  .nav-custom{
    margin-bottom: -70px;
    align-content: center;
  }

  .contact{
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5%;
    background-color: #65c0ba17;
    border: #65c0ba 2px solid;
    box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  }

  .bookings-accepted{
    /* padding: 2px; */
    width: 80%;
    padding: 10%;
    /* float: left;   */
    }

  .bookings-special{
    /* padding-right: 20px; */
    width: 80%;
    /* float: left; */
    /* border: tomato 2px solid; */
  }

  .matching{
    width: 90%;
    /* align-content: center; */
    float: left;
    padding-left: 5%;
    /* border: yellow 3px solid; */
  }

  .bookings-others{
    align-self: center;
    /* float: left; */
    /* padding: 2%; */
    width: 90%;
    /* height: 400px; */
  }

  .all-other-requests{
    padding-left: 10%;
  }

  /* .site-menu-toggle{
    width: 0;
    opacity: 0;
  } */


  .bookings-accepted{
    /* padding: 2px; */
    width: 100%;
    /* float: right; */
  }

  .bookings-special{
    /* padding-left: 20px; */
    width: 100%;
    /* float: left; */
  }


  .sign-button{
    border-radius: 12px;
    background-color: #e7e7e7; color: black;
    font-size: 10px;
    /* float: right; */
  }

  .dp{
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
  }

  

  #logo{
    width: 70px;
    height: 70px;
    float: left;
  }

  h1.main-heading{
    color: green;
    border: green 2px solid;
  }

  .trip-basic-info{
    /* float: left; */
    width: 100%;
    /* background-color: greenyellow; */
  }

  .three-lines{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .form-left{
    align-content: center;
    padding-left: 10%;
    /* float: left; */
    width: 90%;
    /* background-color: greenyellow; */
  }
  
  .bookings-right{
    width: 90%;
    padding-right: 10%;
    /* float: right; */
    /* border: rgb(181, 181, 181) solid 2px; */
  }

  .search-fields{
    /* float: left; */
    padding: 2%;
    width: 90%;
  }

  .reviews{
    width: 100%;
    padding: 5%;
    /* background-color: black; */
  }
  .review-remarks{
    width: 80%;
    text-align: center;
  }

  .contact-section .contact-info p {
  font-family: "Abril Fatface", times, serif;
  color: #000;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-section .contact-info p .d-block {
  font-size: 14px;
  letter-spacing: .2em;
  font-family: "Mukta Mahee", arial, sans-serif;
  text-transform: uppercase;
  color: #65c0ba;
  font-weight: bold;
}

.contact-section form.bg-white {
  -webkit-box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);

}

 .row-contact{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px

}

.navbar-custom { 
  background-color: #265D0C ; 
} 
/* Modify brand and text color */ 

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
  color: black; 
}

.submit-button{
  float: right;
  border: green 2px solid;
}

 .container-contact{width:100%;
  padding-right:50px;
  padding-left:200px;
  margin-right:auto;
  margin-left:auto;
  }
  @media (min-width:576px)
  {.container-contact{max-width:540px}}
  @media (min-width:768px)
  {.container-contact{max-width:720px}}
  @media (min-width:992px)
  {.container-contact{max-width:960px}}
  @media (min-width:1200px)
  {.container-contact{max-width:1140px}}


  .btn-primary-login:hover{
    color:#fff;
    background-color:#265D0C;border-color:#265D0C}

    .center-text{
      text-align: center;
    }
}




/*
#rate{
  width: 5%;
  height: 5%;
}
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: 0.25;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}

.error{
  color: red;
}
.booking{
  background: none;
  border:#eee solid 1px;
  fill: black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}
 
ul.trips {
  margin: 0;
  padding: 0;
  background: white;

}


 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}

 */









